<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Working Title for Twitter Clone in Backbone.js</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container">
      <h1>Twitter Clone <small>(Working Title)</small></h1>
      <button type="button" class="btn btn-primary">Sign in</button>
      <a href="#/signup" class="btn btn-info">Sign up</a>
      <hr/>

      <script id="userTemplate" type="text/template">
        <img src="" />
        <h2><%= userName %><small><%= firstName + lastName %></small></h2>
        <button type="button" class="btn btn-success">Follow!</button>
      </script>

      <script id="newUserTemplate" type="text/template">
        <form class="new-user-form">
          <legend>Sign Up</legend> <!-- // user ? 'edit' : 'new' -->
            <label>First Name</label>
              <input name="firstName" type="text" value="">
            <label>Last Name</label>
              <input name="lastName" type="text" value="">
            <label>Email</label>
              <input name="email" type="text" value="">
            <label>Username</label>
              <input name="userName" type="text" value="">
            <label>Password</label>
              <input name="password" type="password" value="">
          <hr />
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </script>

    </div>

    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/models/user.js"></script>
    <script src="js/views/user.js"></script>
    <script src="js/routers/router.js"></script>
    <script src="js/views/create_user.js"></script>
  </body>

</html>