<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Working Title for Twitter Clone in Backbone.js</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container">
      <h1>Twitter Clone <small>(Working Title)</small></h1>
      <button type="button" class="btn btn-primary">Sign in</button>
      <a href="#/signup" class="btn btn-info">Sign up</a>

      <script id="userTemplate" type="text/template">
        <img src="" />
        <h2><%= userName %><small><%= firstName + lastName %></small></h2>
        <button type="button" class="btn btn-success">Follow!</button>
      </script>

    </div>

    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/models/user.js"></script>
    <script src="js/views/user.js"></script>
    <script src="js/routers/router.js"></script>
  </body>

</html>